.cartContainer {
    margin-top: 32px;
}

.checkoutBox {
    padding: 24px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background: #FFF;
    border-radius: 8px;
}

.checkoutButton {
    width: 100%;
    background: var(--green, #4CAF50) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0 solid red;
}

.checkoutButton:hover {
    background: var(--green-hover, #8BC34A) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.emptyCart {
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    color: grey;
}

.clearCart {
    font-size: 0.6em;
    color: var(--red);
    cursor: pointer;
}

.clearCart:hover {
    color: var(--red-hover, #FF5722);
    text-decoration: underline;
}