.footerWrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: black;
    z-index: 999;
}

.footerText {
    font-size: 0.65em;
    text-align: center;
    padding: 6px 0px;
    margin: 0;
    color: #FFF;
}