.noGutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.affix {
    padding: 24px;
    position: fixed !important;
    border-radius: 8px;
    background: #FFF;
    height: min-content;
    box-sizing: border-box !important;
    max-width: 280px !important;
}

.selected {
    font-weight: bolder;
}

.toRight {
   float: right;
}

.actionBtnWrapper {
    margin-top: 48px;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}