.noGutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.affix {
    padding: 24px;
    position: fixed;
    border-radius: 8px;
    background: #FFF;
    height: min-content;
    width: 18% !important;
}

.selected {
    font-weight: bolder;
}

.toRight {
   float: right;
}