.loginContainer {
    width: 33%;
    height: min-content;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    background: #FFF;
    border-radius: 8px;
    padding: 24px;
}

.loginButton {
    width: 50%;
    transition: 0.3s;
    border: 0 solid red;
}

.headerSmall {
    font-size: 1em;
    color: var(--grey-darker);
    text-decoration: none;
    float: right;
}

.headerSmall:hover {
    color: var(--blue-darker)
}

.loginHeaderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}