.postContainer {
    margin-top: 32px;
}

.pageHeader {
    margin-bottom: 12px;
}

.postForm {
    width: 100%;
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
}

.submitBtn {
    width: 100%;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}

.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}

.profileThumb {
    display: block !important;
    height: 48px !important;
    width: 48px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
}

.btnImgWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 32px;
}

.btnFile {
    display: inline !important;
    margin-left: 8px;
}