.productWrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 212px;
    background: #FFF;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.productWrapper:hover {
    margin-top: -3px;
    margin-bottom: 19px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.productWrapper img {
    height: 212px;
    width: 212px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.headerWrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.descWrapper p {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: justify;
    /* number of lines to show */
}

.price {
    color: var(--green, #4CAF50);
    font-size: 1.5em;
}

.descWrapper {
    position: relative;
    width: calc(100% - 200px);
    padding: 24px;
    background: #FFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.buttonsWrapper02 {
    position: absolute;
    bottom: 24px;
    width: 100%;
}

.buyButton {
    background: var(--blue, #03A9F4) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: calc(25% - 12px);
    border: 0 solid red;
    margin-right: 12px;
}

.buyButton:hover {
    background: var(--blue-hover, #03A9F4) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.titleWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 8px;
}

.titleWrapper h3 {
    margin-bottom: 0;
}

.rightAligned {
    padding-right: 48px;
    float: right;
}

.leftAligned {
    float: left;
}

.yourCart {
      color: var(--red, #f44336) !important;
}

.yourItem {
    color: var(--green, #8BC34A);
}

.cartButton,
.remove {
    background: var(--purple, #3F51B5) !important;
    width: calc(25% - 12px);
    border: 0 solid red;
}

.cartButton:hover {
    background: var(--purple-hover) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}