.postContainer {
    margin-top: 32px;
}

.pageHeader {
    margin-bottom: 12px;
}

.postForm {
    width: 100%;
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
}

.submitBtn {
    width: 100%;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}

.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}

.profileThumb {
    display: block !important;
    height: 44px !important;
    width: 48px !important;
    object-fit: cover;
    border-radius: 12px;
}

.btnImgWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnFile {
    display: inline !important;
    margin-left: 8px;
}