.profileContainer {
    margin-top: 32px;
}

.affix {
    padding: 24px;
    position: fixed;
    border-radius: 8px;
    width: inherit;
    background: #FFF;
    width: 18% !important;
}

.buyer {
    margin: auto;
    right: 0; left: 0;
}

.categoryList {
    list-style: none;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.categoryItem {
    width: 100%;
    padding: 5px 24px 5px 24px;
    margin-left: -24px;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.25s;
}

.categoryItem:hover {
    background: var(--grey);
    transition: 0.25s;
}

.selected {
    font-weight: bolder;
}

.profileWrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.image {
    width: 128px;
    height: 128px;
    border-radius: 64px;
    border: 8px solid var(--grey);
    object-fit: cover;
}

.profileName {
    padding: 16px 0 8px 0;
}

.profileEmail, .profilePhone {
    padding: 4px 0;
}

.profileDesc {
    padding-top: 4px;
}