.profileContainer {
    margin-top: 32px;
}

.buyer {
    margin: auto;
    right: 0; left: 0;
}

.selected {
    font-weight: bolder;
}

.profileWrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.image {
    width: 128px;
    height: 128px;
    border-radius: 64px;
    border: 8px solid var(--grey);
    object-fit: cover;
}

.profileName {
    padding: 16px 0 8px 0;
}

.profileEmail, .profilePhone {
    padding: 4px 0;
}

.profileDesc {
    padding-top: 4px;
}

.emptySeller {
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    color: grey;
}