.searchContainer {
    margin-top: 32px;
}

.categoriesWrapper {
    position: relative;
    width: 100%;
}

.results {
    top: 0;
}

.categoryList {
    list-style: none;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.categoryItem {
    width: 100%;
    padding: 5px 15px 5px 15px;
    margin-left: -15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.categoryItem:hover {
    background: var(--grey);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.selected {
    font-weight: bolder !important;
}

.notSelected {
    font-weight: normal !important;
}

.emptySearch {
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    color: grey;
}