.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
  padding-top: 30px;
  z-index: 2;
  position: relative;
  color: #484848;
  text-align: center;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer h3 {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 300;
  opacity: .5;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline>li {
  padding: 0 7px;
}

footer .copyright {
  opacity: .5;
  line-height: 1.7;
}

footer p {
  margin-bottom: 30px;
}

footer ul {
  margin-bottom: 24px;
}